# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sleek?schema=public"

MONGODB_USER=root
MONGODB_PASSWORD=123456
MONGODB_HOST=127.0.0.1
MONGODB_DATABASE=sleek
MONGODB_LOCAL_PORT=7017
MONGODB_DOCKER_PORT=27017

NODE_LOCAL_PORT=8080
NODE_DOCKER_PORT=8080